* {
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}

input{
  border: 0;
  outline: 0;
  background: #fdffeb;
  color: #090909;
  font-size: 18px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  height: 60vh;
}


.middle {
  flex: 0 0 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

footer {
  margin-top: 60px;
  margin-bottom: 60px;
  background-color:  burlywood;
}

.weatherL {
  height: 15rem;
  width: 35rem;
  background-color: rgba(152, 228, 165, 0.577);
  text-align: center;
  padding-top: 20px;
  margin-left: 25px;
  border-radius: 30px;
  border: 2px solid rgb(14, 43, 1);
}

#current-weather {
  width: 160px;
  margin: auto;
}

#logo {
  border-radius: 4px;
  max-width: 100%;
  max-height: 100%;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}